@media(min-width: 2000px) and (min-height: 1100px) and (hover: hover) {
    #winning-image img {
        width: 1000px;
        height: auto;
    }

    #losing-image {
        justify-content: center;
    }

    #losing-image img {
        width: 100%;
        height: 100%;
    }

    .all-icons-button-container button {
        font-size: 24px;
    }

    #all-icons-container-mini-version {
        font-size: 20px;
        width: 100%;
        height: auto;
    }

    .all-icons-container {
        font-size: 20px;
    }

    .main-title-properties img {
        width: 180px;
    }

    #main-title {
        font-size: 80px;
    }

    .main-title-properties h2 {
        font-size: 52px;
    }

    .game-functions-container {
        position: fixed;
        border: 4px solid black;
        right: 0;
        height: auto;
        width: 100%;
        background-color: aliceblue;
    }

    .game-notification {
        font-size: 24px;
    }

    #intro-image img:nth-child(2) {
        width: 56px;
        height: auto;
        right: calc((100% - 56px)/2);
    }

    .button-style {
        font-size: 72px;
    }

    #all-icons-container-mini-version {
        width: 100%;
        height: auto;
    }

    .explain-game-container {
        left: 0;
    }

    .control-panel-everything {
        display: none;
    }

    .screen-control-container {
        justify-content: end;
    }
}

@media(min-width: 2500px) and (min-height: 1100px) and (hover: hover) {
    .game-functions-container {
        position: fixed;
        border: 4px solid black;
        right: 0;
        height: 100%;
        width: 400px;
        background-color: aliceblue;
    }
}

@media(min-width: 2500px) and (min-height: 1100px) and (hover: hover) {
    .envelope-all-container {
        width: 80%;
        max-width: 2000px;
        margin: 0 auto;
    }

    #intro-image {
        max-width: 1500px;
        height: auto;
        aspect-ratio: 720 / 480;
    }

    .screen-control-container {
        right: 13%;
    }

    #sound-on-icon {
        width: 68px;
    }

    #sound-off-icon {
        width: 68px;
    }

    canvas {
        width: 1500px;
        height: auto;
        aspect-ratio: 720 / 480;
    }

    .all-icons-container-overlay {
        width: 100dvw;
        position: absolute;
        left: unset;
        right: unset;
    }

    #all-icons-container-mini-version {
        position: absolute;
        bottom: 0;
        left: calc((100dvw - 2000px) / 2);
        width: 2000px;
        height: auto;
    }

    .explain-game-container {
        position: absolute;
        width: 100dvw;
        left: unset;
        right: unset;
    }

    .game-functions-container {
        position: absolute;
        right: calc((100dvw - 2000px)/2);
        width: 2000px;
    }

    .all-icons-button-container {
        position: absolute;
    }

    .all-icons-container {
        font-size: 24px;
    }

    .main-title-properties img {
        width: 200px;
    }

    #main-title {
        font-size: 96px;
    }

    .main-title-properties h2 {
        font-size: 68px;
    }

    .all-icons-button-container button {
        font-size: 28px;
    }

    #all-icons-container-mini-version {
        font-size: 20px;
    }

    #all-icons-container-mini-version {
        justify-content: space-between;
    }

    .control-panel-everything {
        display: none;
    }

    .screen-control-container {
        justify-content: end;
    }

    #losing-image {
        justify-content: center;
    }
}