#screen-control-container {
    position: absolute;
    bottom: 5%;
    width: 80dvw;
    right: calc((100dvw - 80dvw)/2);
}

#control-panel-everything {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.control-panel-styling {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.sound-container img {
    border: 2px solid black;
    border-radius: 12px;
    background: wheat;
}

.touch-control {
    display: flex;
    border-radius: 12px;
    background-color: wheat;
}

.touch-control img {
    border-radius: 12px;
    border: 2px solid black;
}

.control-button-image-container {
    border-radius: 12px;
    background-color: wheat;
}

.exit-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    padding: 4px;
    border-radius: 12px;
    background: wheat;
}

.exit-game-container p {
    font-family: 'playpensans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.sound-and-exit-container {
    position: absolute;
    right: 2%; 
    top: 15%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#sound-off-icon, #sound-on-icon {
    position: absolute;
    right: 5%;
    top: 15%;
    border: 2px solid black;
    border-radius: 12px;
    background: wheat;
    cursor: pointer;
}

#enter-exit-fullscreen {
    position: absolute;
    bottom: 1%;
    right: 1%;
    border: 2px solid #000;
    border-radius: 12px;
    background: wheat;
    cursor: pointer;
    display: flex;
}

#enter-exit-fullscreen img {
    width: 40px;
    height: auto;
}

@media(min-width: 1920px) and (orientation: landscape){
    .sound-and-exit-container {
        width: 20%;
        right: 5%;
    }

    #sound-off-icon, 
    #sound-on-icon {
        width: 96px;
    }

    .exit-game-container img {
        width: 120px;
    }

    .exit-game-container p {
        font-size: 48px;
    }

    .touch-control img {
        width: 120px;
        padding: 8px;
    }

    .control-button-image-container {
        font-size: larger;
        display: flex;
        padding: 8px;
        border: 2px solid black;
    }

    #enter-exit-fullscreen img {
        width: 56px;
        height: auto;
    }
}

@media(min-width: 1025px) and (max-width: 1920px) and (orientation: landscape){

    .touch-control img {
        width: clamp(64px, 80px, 96px);
        padding: 8px;
    }

    .exit-game-container img {
        width: 64px;
    }

    .control-button-image-container {
        font-size: larger;
        display: flex;
        padding: 8px;
        border: 2px solid black;
    }

    .sound-and-exit-container {
        gap: 16px;
        width: clamp(100px, 26%, 200px);
    }

    #sound-off-icon, 
    #sound-on-icon {
        width: 48px;
    }

    .exit-game-container img {
        width: 64px;
    }

    .exit-game-container p {
        font-family: 'playpensans', Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: bold;
    }
}

@media(max-width: 1024px) and (orientation: landscape){

    #enter-exit-fullscreen {
        display: none;
    }

    .touch-control img {
        width: 48px;
        padding: 4px;
    }

    #control-panel-throw-jump {
        width: 22%;
    }

    .sound-and-exit-container {
        gap: 16px;
        width: clamp(100px, 25%, 200px);
    }

    #sound-off-icon, 
    #sound-on-icon {
        width: 40px;
    }

    #sound-off-icon:hover, 
    #sound-on-icon:hover {
        transform: scale(1.05);
    }

    .exit-game-container:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    .exit-game-container img {
        width: 56px;
    }

    .exit-game-container p {
        font-size: 18px;
    }
}

@media(max-width: 600px) and (orientation: landscape){
    .exit-game-container img {
        width: 40px;
    }

    .exit-game-container p {
        font-size: 16px;
    }

    .sound-and-exit-container {
        width: clamp(100px, 35%, 200px);
    }

    .touch-control img {
        width: 40px;
        padding: 4px;
    }

    .control-panel-styling {
        width: 25%;
    }

    #control-panel-throw-jump {
        width: 30%;
    }

    #sound-off-icon, 
    #sound-on-icon {
        width: 40px;
    }
}