@media(hover: hover) and (min-width: 1024px) and (orientation: landscape){
    #ui-desktop {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
    }

    .text-styling {
        text-align: center;
        font-family: 'playpensans light';
        font-size: 14px;
    }

    .button-style {
        border: 2px solid black;
        padding: 8px;
        border-radius: 16px;
        font-size: 14px;
        cursor: pointer;
        font-family: 'playpensans';
        background: rgb(175, 151, 16);
    }

    #ui-touch {
        display: none;
    }

    #title {
        text-decoration: underline;
    }

    #links-images-button {
        display: none;
    }

    #settings-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #settings-container:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    .fade-in-image {
        width: 720px;
        height: 480px;
    }

    #links-images-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-top: 16px;
        font-family: 'playpensans';
    }

    #intro-image-desktop {
        position: relative;
        width: 720px;
        height: 480px;
    }

    #intro-image-desktop img:nth-child(2) {
        position: absolute;
        bottom: 8px;
        width: 64px;
        cursor: pointer;
        left: calc((100% - 64px) / 2);
    }

    #canvas-container {
        position: fixed;
        top: calc((100dvh - 480px) / 2);
        right: calc((100dvw - 720px) / 2);
    }

    .sound-and-exit-container {
        position: absolute;
        right: 5%;
        top: 15%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 64px;
    }

    .exit-game-container {
        display: none;
    }

    .exit-game-container img {
        width: 40px;
    }

    .exit-game-container p {
        font-family: 'playpensans';
        font-size: 16px;
        font-weight: bold;
    }

    #sound-off-icon, #sound-on-icon {
        position: absolute;
        right: 5%;
        top: 15%;
        border: 2px solid black;
        background: wheat;
        width: 40px;
        cursor: pointer;
        border-radius: 12px;
    }

    #button-container {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 16px;
    }

    #privacy:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    #imprint:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    #message-to-turn-device {
        display: none;
    }
}

@media(hover: hover) and (max-width: 1024px) and (orientation: landscape){
    #ui-desktop{
        display: flex;
        justify-content: center;
        padding-right: 0;
        padding-left: 0;
        overflow: hidden;
    }

    #links-images-desktop { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'playpensans light';
        font-size: 18px;
        position: absolute;
        top: 1%;
        width: 90%;
        padding: 16px;
        z-index: 10;
        border: 2px solid black;
        border-radius: 16px;
        background-color: gold;
    }

    #title {
        display: none;
    }

    #intro-image-desktop {
        width: 100dvw;
        height: 100dvh;
    }

    #canvas-container {
        position: relative;
    }

    #ui-touch {
        display: none;
    }

    .fade-in-image {
        width: 100dvw;
        height: 100dvh;
    }

    #icon-button-top {
        font-family: 'playpensans';
        font-size: 24px;
        border: 2px solid black;
        border-radius: 16px;
        padding: 8px;
        background: burlywood;
    }

    .h2-title-section h2 span:hover {
        color: #fffb00;
        cursor: pointer;
    }

    #icon-button-top:hover {
        cursor: pointer;
        background-color: rgb(129, 96, 52);
    }

    .button-style {
        border: 2px solid black;
        padding: 8px;
        border-radius: 16px;
        font-size: 16px;
        font-weight: bolder;
        cursor: pointer;
        font-family: 'playpensans';
        background: rgb(175, 151, 16);
    }

    #button-container {
        display: none;
    }

    #intro-image-desktop img:nth-child(2) { 
        position: absolute;
        bottom: 8px;
        left: calc((100% - 64px) / 2);
        width: 64px;
        cursor: pointer;
    }

    #intro-image-desktop img:nth-child(2):hover {
        transform: scale(1.05);
    }

    .img-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 8px;
        padding: 8px;
        border: 2px solid black;
        border-radius: 16px;
        background: burlywood;
    }

    .img-links:hover {
        background-color: rgb(129, 96, 52);
        cursor: pointer;
    }

    #message-to-turn-device {
        display: none;
    }
}

@media(hover: hover) and (orientation: portrait){
    #message-to-turn-device {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100dvh;
        width: 100dvw;
        background-color: rgba(10, 10, 10, 0.5);
    }

    .message-to-turn-device-wrapper {
        width: 80%;
    }

    .message-to-turn-device-wrapper h2 {
        font-family: 'playpensans light';
        font-size: 48px;
        text-align: center;
        padding-right: 16px;
        padding-left: 16px;
        border: 2px solid black;
        color: black;
        border-radius: 16px;
        background: #d96d1085;
    }

    #ui-touch {
        display: none;
    }

    #ui-desktop {
        display: none;
    }
}