@media(hover: hover) and (pointer: fine){
    .ui-desktop {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
    }

    .ui-touch {
        display: none;
    }
}