@media(max-width: 1024px) {

    #ui-desktop{
        padding-right: 0;
        padding-left: 0;
    }

    #links-images-desktop {
        display: none;
    }

    #intro-image-desktop {
        width: 100dvw;
        height: 100dvh;
    }

    #intro-image-desktop {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .fade-in-image {
        width: 100%;
        height: 100%;
    }

    #button-container {
        display: none;
    }
}