@font-face {
    font-family: 'damion';
    src: url('fonts/Damion-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'playpensans light';
    src: url('fonts/PlaypenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'playpensans';
    src: url('fonts/PlaypenSans-Medium.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('assets/desert_3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    margin: 0;
}

h1 {
    font-family: 'Arial';
    margin: 0;
    padding-bottom: 16px;
}

h2 {
    margin: 0;
}

.main-legal-notice-container {
    font-family: 'Arial';
    padding: 80px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.image-and-back-to-start-container {
    position: absolute;
    top: 16px;
    left: 16px;
    cursor: pointer;
    margin: 0;
}

.image-and-back-to-start-container:hover {
    transform: scale(1.025);
}

.legal-notice-upper-part-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 160px;
    font-family: damion;
    font-size: 24px;
    transition: transform 500ms ease-in-out;
}

.legal-notice-upper-part-container h2 {
    font-family: 'damion';
}


.legal-notice-upper-part-container img {
    width: 200px;
}

.all-icons-container {
    font-size: 14px;
    width: 100%;
    gap: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    padding: 8px;
    background-color: rgba(236, 199, 148, 0.5);
}

#all-icons-container-mini-version {
    font-family: 'playpensans light';
    font-size: 12px;
    width: 100%;
    gap: 0px;
    display: none;
    flex-direction: column;
    z-index: 20;
    text-align: center;
    border: 1px solid black;
    padding: 8px;
    background-color: rgba(236, 199, 148, 1);
}

#all-icons-container-mini-version a {
    color: black;
    text-decoration: none;
}

.all-icons-container-mini-version img {
    width: 24px;
    align-self: flex-end;
    cursor: pointer;
}

.all-icons-container a {
    font-family: 'playpensans light';
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 2px;
}

.all-icons-container h2 {
    font-family: 'playpensans';
    font-size: 24px;
}

.all-icons-button-container {
    display: none;
    font-family: 'playpensans';
    font-size: 18px;
    padding: 16px;
    align-self: baseline;
    left: 8px;
    bottom: 8px;
}

.all-icons-button-container button {
    font-size: 18px;
    background-color: gold;
    border: 1px solid black;
    border-radius: 16px;
    padding: 8px;
    cursor: pointer;
}

.all-icons-button-container button:hover {
    background-color: rgb(95, 81, 3);
}

@media(max-width: 1075px) {
    .all-icons-container {
        display: none;
    }

    .all-icons-button-container {
        display: block;
    }
}

@media(max-width: 700px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 40px;
    }

    .all-icons-button-container button {
        font-size: 13px;
        padding: 4px;
    }

    #all-icons-container-mini-version {
        font-size: 10px;
    }

    #all-icons-container-mini-version img {
        width: 18px;
    }
}

@media(max-width: 500px) {
    body {
        font-size: 13px;
    }

    .main-legal-notice-container {
        padding: 20px;
    }

    .image-and-back-to-start-container h2 {
        display: none;
    }

    .legal-notice-upper-part-container {
        justify-content: start;
    }

    .legal-notice-upper-part-container img {
        width: 120px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }
}

@media(max-width: 400px) {
    body {
        font-size: 12px;
    }

    .main-legal-notice-container {
        padding: 8px;
    }

    .legal-notice-upper-part-container img {
        width: 96px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }
}