* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100dvw;
    height: 100dvh;
    background-image: url('../assets/desert_3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-play {
    width: 56px;
    height: auto;
}

.closeBtn {
    width: 56px;
    cursor: pointer;
    height: auto;
    position: absolute;
    top: 2%;
    right: 2%;
}

.img-size {
    width: 72px;
    height: auto;
}

@media(hover: hover) and (pointer: fine){
    .ui-desktop {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
    }

    .ui-touch {
        display: none;
    }
}

@media(hover: none) and (pointer: coarse){
    .ui-desktop {
        display: none;
    }
}