#winning-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#winning-image, 
#losing-image {
    width: 100dvw;
    height: 100dvh;
}
 
#losing-image img {
    width: 100dvw;
    height: 100dvh;
}

#winning-image img {
    width: 80dvw;
    height: auto;
}

#winning-image button,
#losing-image button {
    position: absolute;
    right: calc((100dvw - 185px) / 2);
    font-size: 32px;    
}

#main-page-link {
    position: absolute;
    left: 1%;
    top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 8px;
    border-radius: 16px;
    background: gold;
    filter: drop-shadow(4px 4px 6px black);
}

#main-page-link img {
    width: 48px;
    height: auto;
}

#main-page-link p {
    font-family: 'playpensans';
    font-size: 16px;
}

@media(min-height: 769px) and (orientation: landscape){
    #winning-image button, 
    #losing-image button {
        bottom: 20%;
    }
}

@media(max-height: 768px) and (orientation: landscape){
    #winning-image button, 
    #losing-image button {
        bottom: 15%;
    }
}

@media(max-height: 500px) and (orientation: landscape){
    #winning-image button, 
    #losing-image button {
        bottom: 10%;
    }
}