/* #links-images-touch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 1%;
    right: 1%;
    z-index: 100;
    padding: 8px;
    border: 2px solid black;
    border-radius: 16px;
    background-color: #557738db;
}


#intro-image-touch {
    width: 100dvw;
    height: 100dvh;
}

#overlay-touch {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: hidden;
}

#intro-image-touch img:nth-child(1) {
    width: 100%;
    height: 100%;
}

#intro-image-touch img:nth-child(2){
    position: absolute;
    bottom: 1%;
    height: auto;
    right: calc((100dvw - 56px) / 2);
} */

.text-styling {
    text-align: center;
    font-family: 'playpensans light';
    font-size: 16px;
}

.button-style {
    border: 2px solid black;
    padding: 8px;
    border-radius: 16px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'playpensans light';
    background: rgb(175, 151, 16);
}

@media(hover: none) and (pointer: coarse) and (orientation: landscape){
    .ui-touch {
        display: flex;
        position: relative;
        width: 100dvw;
        height: 100dvh;
    }

    .ui-desktop {
        display: none;
    }

    #message-to-turn-device {
        display: none;
    }

    #links-images-touch {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        position: absolute;
        top: 1%;
        right: 1%;
        z-index: 100;
        padding: 8px;
        border: 2px solid black;
        border-radius: 16px;
        background-color: #557738db;
    }


    #intro-image-touch {
        width: 100dvw;
        height: 100dvh;
    }

    #overlay-touch {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: hidden;
    }

    #intro-image-touch img:nth-child(1) {
        width: 100%;
        height: 100%;
    }

    #intro-image-touch img:nth-child(2){
        position: absolute;
        bottom: 1%;
        height: auto;
        right: calc((100dvw - 56px) / 2);
    }
}

@media(hover: none) and (pointer: coarse) and (orientation: portrait){
    #ui-desktop {
        display: none;
    }
    
    #links-images-touch {
        display: none;
    }

    #overlay-touch {
        display: none;
    }

    #message-to-turn-device {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100dvh;
        width: 100dvw;
        background-color: rgba(10, 10, 10, 0.5);
    }

    .message-to-turn-device-wrapper {
        width: 80%;
    }

    .message-to-turn-device-wrapper h2 {
        font-family: 'playpensans light';
        font-size: 48px;
        text-align: center;
        padding-right: 16px;
        padding-left: 16px;
        border: 2px solid black;
        color: black;
        border-radius: 16px;
        background: #d96d1085;
    }
}