@media(min-width: 1024px) and (orientation: landscape), (max-width: 1024px) and (orientation: landscape) {
    
    #ui-touch {
        width: 100dvw;
        height: 100dvh;
    }

    #message-to-turn-device {
        display: none;
    }

    .text-styling {
        font-family: 'playpensans light';
        font-size: 12px;
    }

    .button-style {
        font-size: 14px;
        font-weight: bolder;
        font-family: 'playpensans light';
    }

    #intro-image-touch {
        width: 100dvw;
        height: 100dvh;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #intro-image-touch img:nth-child(1) {
        width: 100%;
        height: 100%;
    }

    #intro-image-touch img:nth-child(2){
        position: absolute;
        bottom: 1%;
        height: auto;
        width: 56px;
        right: calc((100dvw - 56px) / 2);
    }

    #winning-image-touch {
        position: relative;
        height: 100dvh;
        width: 100dvw;
    }

    #winning-image-touch img {
        position: absolute;
        height: 100dvh;
        width: 100dvw;
    }

    #winning-image-touch button,
    #losing-image-touch button {
        position: absolute;
        right: calc((100dvw - 126px) /2);
        bottom: 20%;
    }

    #losing-image-touch {
        position: relative;
        height: 100dvh;
        width: 100dvw;
    }

    #losing-image-touch img {
        position: absolute;
        height: 100dvh;
        width: 100dvw;
    }

    .play-again-button-style {
        border: 2px solid black;
        padding: 8px;
        border-radius: 16px;
        font-size: 20px;
        font-weight: bolder;
        cursor: pointer;
        font-family: 'playpensans';
        background: gold;
    }
}