@media(hover: none) {
    #losing-image {
        width: 100dvw;
        height: 100dvh;
    }

    #losing-image img {
        width: 100%;
        height: 100%;
    }

    #winning-image img {
        margin-top: unset;
        width: 45%;
        height: auto;
    }

    .button-style {
        font-size: 32px;
        position: absolute;
        bottom: 5%;
    }

    #sound-on-icon {
        width: 60px;
    }

    #sound-off-icon {
        width: 60px;
    }

    #control-panel-throw-jump {
        display: flex;
        justify-content: space-around;
        width: 30%;
    }

    #control-panel-left-right {
        display: flex;
        justify-content: space-around;
        width: 30%;
    }

    #intro-image {
        height: 100dvh;
        width: 100dvw;
    }

    #intro-image img:nth-child(1) {
        width: 100%;
        height: 100%;
    }

    #intro-image img:nth-child(2) {
        width: 60px;
        right: calc((100% - 60px) / 2);
    }

    canvas {
        height: 100dvh;
        width: 100dvw;
    }

    .control-panel-everything {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .icon-and-settings-container {
        z-index: 1000;
        position: absolute;
        top: 0;
        right: 1%;
        border: 4px solid black;
        border-radius: 16px;
        margin-top: 1%;
        padding: 1%;
        background-color: rgb(236, 203, 103, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
    }

    .game-functions-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }

    .all-icons-button-container {
        display: none;
    }

    .links-images {
        display: none;
    }

    .game-functions-container h2 {
        display: none;
    }

    .icon-and-settings-container-mini-version {
        gap: unset;
        align-items: center;
        justify-content: center;
        font-size: 14px;
    }

    .control-keys {
        padding-left: 16px;
        justify-content: center;
        flex-direction: column;
    }

    .control-keys img {
        width: 60px;
    }

    .game-notification {
        align-items: center;
        justify-content: center;
    }

    .screen-control-container {
        width: 80%;
        bottom: 1%;
        right: unset;
    }

    #all-icons-container-mini-version {
        width: 100%;
        height: 100%;
        gap: 0;
    }

    .all-icons-button-container-small-version button {
        font-size: 20px;
    }

    .main-title-properties img {
        width: 48px;
    }
}


@media(min-width: 1025px) and (hover: none) {
    .control-panel-everything img {
        width: 80px;
        padding: 4px;
        border: 4px solid black;
        border-radius: 8px;
    }

    #sound-off-icon {
        width: 80px;
    }

    #sound-on-icon {
        width: 80px;
    }
}

@media(max-width: 1024px) and (hover: none) {
    .control-panel-everything img {
        width: 60px;
        padding: 4px;
        border: 4px solid black;
        border-radius: 8px;
    }
}

@media(max-width: 950px) and (hover: none) {
    .control-panel-everything img {
        width: 48px;
        padding: 4px;
        border: 2px solid black;
        border-radius: 4px;
    }

    #sound-on-icon {
        width: 48px;
        padding: 4px;
        border: 2px solid black;
        border-radius: 4px;
    }

    #sound-off-icon {
        width: 48px;
        padding: 4px;
        border: 2px solid black;
        border-radius: 4px;
    }

    #all-icons-container-mini-version a {
        font-size: 12px;
    }

    .game-notification {
        display: none;
    }

    .control-key-style {
        min-width: 200px;
    }

    .control-keys img {
        width: 40px;
    }

    .control-keys h3 {
        font-size: 16px;
    }

    .game-functions-container img:nth-child(2) {
        width: 24px;
    }
}

@media(max-width: 500px) and (hover: none) {
    .main-title-properties img {
        width: 32px;
    }

    .all-icons-button-container-small-version button {
        font-size: 12px;
    }

    #intro-image img:nth-child(2) {
        width: 40px;
        right: unset;
    }

    #all-icons-container-mini-version a {
        font-size: 11px;
    }
}