.text-styling {
    font-family: 'playpensans light';
}

#links-images-touch:hover {
    transform: scale(1.025);
}

#privacy-and-imprint-pop-up:hover,
#settings-container-touch:hover,
#all-icons-button:hover,
#exit-game-container:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#intro-image-touch img:nth-child(2){
    position: absolute;
    bottom: 1%;
    height: auto;
}

.play-again-button-style {
    font-family: 'playpensans';
    font-weight: bolder;
    cursor: pointer;
    background: gold;
    border: 2px solid black;
    border-radius: 16px;
}

@media(min-width: 1025px) and (orientation: landscape){

    .text-styling {
        font-size: 16px;
    }

    #intro-image-touch img:nth-child(2){
        width: 80px;
        right: calc((100dvw - 80px) / 2);
    }

    .play-again-button-style {
        padding: 12px;
        font-size: 24px;
    }
}

@media(max-width: 1024px) and (orientation: landscape){
    .text-styling {
        font-size: 14px;
    }

    #intro-image-touch img:nth-child(2){
        width: 72px;
        right: calc((100dvw - 72px) / 2);
    }

    .play-again-button-style {
        padding: 8px;
        font-size: 20px;
    }
}

@media(max-width: 932px) and (orientation: landscape){
    .text-styling {
        font-size: 12px;
    }

    #intro-image-touch img:nth-child(2){
        width: 64px;
        right: calc((100dvw - 64px) / 2);
    }
}

@media(max-width: 882px) and (orientation: landscape){
    .text-styling {
        font-size: 10px;
    }

    #intro-image-touch img:nth-child(2){
        width: 56px;
        right: calc((100dvw - 56px) / 2);
    }

    .play-again-button-style {
        font-size: 18px;
    }
}

@media(min-width: 1025px) and (orientation: landscape), (max-width: 1024px) and (orientation: landscape) {
    
    #ui-touch {
        width: 100dvw;
        height: 100dvh;
    }

    #message-to-turn-device {
        display: none;
    }

    .button-style {
        font-size: 14px;
        font-weight: bolder;
        font-family: 'playpensans light';
    }

    #intro-image-touch {
        width: 100dvw;
        height: 100dvh;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #intro-image-touch img:nth-child(1) {
        width: 100dvw;
        height: 100dvh;
    }

    #winning-image-touch {
        position: relative;
        height: 100dvh;
        width: 100dvw;
    }

    #winning-image-touch img {
        position: absolute;
        height: 100dvh;
        width: 100dvw;
    }

    #winning-image-touch button,
    #losing-image-touch button {
        position: absolute;
        right: calc((100dvw - 126px) /2);
        bottom: 20%;
    }

    #losing-image-touch {
        position: relative;
        height: 100dvh;
        width: 100dvw;
    }

    #losing-image-touch img {
        position: absolute;
        height: 100dvh;
        width: 100dvw;
    }
}