@media(min-width: 2500px) and (hover: hover) {
    .game-functions-container {
        width: 100%;
    }

    .game-functions-container h2 {
        font-size: 60px;
    }

    .control-key-style {
        min-width: 400px;
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .control-key-style img {
        width: 112px;
    }

    .control-key-style h3 {
        font-size: 36px;
    }

    .game-notification {
        font-size: 36px;
    }
}

@media(min-height: 1400px) and (hover: hover) {
    .game-functions-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }
}

@media (orientation: portrait) {
    .game-functions-container {
        display: none;
    }

    .canvas-container img {
        display: none;
    }

    .all-icons-container {
        display: none;
    }

    .all-icons-button-container {
        display: none;
    }

    #intro-image {
        display: none;
    }

    .links-images {
        display: none;
    }

    .icon-and-settings-container {
        display: none;
    }

    #message-to-turn-device {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        text-align: center;
    }

    #message-to-turn-device button {
        display: block;
        padding: 8px;
        border: 4px solid black;
        border-radius: 16px;
        background-color: gold;
        font-family: 'damion';
        font-size: 60px;
        width: 90%;
    }

    #winning-image {
        display: none !important;
    }

    #losing-image {
        display: none !important;
    }

    @media(max-width: 700px) {
        #message-to-turn-device button {
            font-size: 40px;
        }
    }

    @media (orientation: portrait) and (max-width: 500px) {
        #message-to-turn-device button {
            max-width: 320px;
        }
    }
}