@media(pointer: coarse) and (hover: none) and (max-width: 1400px) {

    #losing-image {
        width: 100dvw;
        height: 100dvh;
    }

    #losing-image img {
        width: 100%;
        height: 100%;
    }

    #winning image {
        gap: 0;
    }

    #winning-image img {
        margin-top: unset;
        width: 25%;
        height: auto;
    }

    .button-style {
        font-size: 32px;
        position: absolute;
        bottom: 5%;
    }

    #sound-on-icon {
        width: 68px;
    }

    #sound-off-icon {
        width: 68px;
    }

    .control-panel-everything button {
        border: 4px solid black;
        border-radius: 16px;
        padding: 6px;
        background-color: wheat;
    }

    #control-panel-up-throw {
        display: flex;
        justify-content: space-around;
        width: 50%;
    }

    #control-panel-right-left {
        display: flex;
        justify-content: space-around;
        width: 50%;
    }

    .canvas-container img:nth-child(1) {
        display: block;
        width: 48px;
    }

    #intro-image {
        height: unset;
        width: unset;
    }

    #intro-image img:nth-child(1) {
        width: 100dvw;
        height: 100dvh;
    }

    canvas {
        height: 100dvh;
        width: 100dvw;
    }

    .control-panel-everything {
        display: flex;
        width: 100%;
    }

    .all-icons-button-container {
        display: none;
    }

    .links-images {
        display: none;
    }

    .icon-and-settings-container {
        z-index: 1000;
        position: absolute;
        top: 0;
        right: 1%;
        border: 4px solid black;
        border-radius: 16px;
        margin-top: 1%;
        padding: 1%;
        background-color: rgb(236, 203, 103, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
    }

    .game-functions-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }

    .game-functions-container h2 {
        display: none;
    }

    .icon-and-settings-container-mini-version {
        gap: unset;
        align-items: center;
        justify-content: center;
        font-size: 14px;
    }

    .control-keys {
        padding-left: 16px;
        justify-content: center;
        flex-direction: column;
    }

    .control-keys img {
        width: 60px;
    }

    .game-notification {
        align-items: center;
        justify-content: center;
    }

    .sound-screen-control-container {
        width: 80%;
        bottom: 1%;
        right: unset;
    }

    #all-icons-container-mini-version {
        width: 100%;
        height: 100%;
        gap: 0;
    }

    .all-icons-button-container-small-version button {
        font-size: 14px;
    }

    .main-title-properties img {
        width: 48px;
    }
}

@media(min-width: 2500px) and (min-height: 1100px) {
    .envelope-all-container {
        width: 80%;
        max-width: 2000px;
        margin: 0 auto;
    }

    #all-icons-container-mini-version {
        width: 100%;
        height: auto;
    }

    .game-functions-container {
        position: absolute;
    }

    .all-icons-button-container {
        position: absolute;
    }

    .all-icons-container {
        font-size: 24px;
    }

    .main-title-properties img {
        width: 200px;
    }

    #main-title {
        font-size: 96px;
    }

    .main-title-properties h2 {
        font-size: 68px;
    }
}

@media(min-width: 2000px) and (min-height: 1100px) {
    .all-icons-container {
        font-size: 20px;
    }

    .main-title-properties img {
        width: 180px;
    }

    #main-title {
        font-size: 80px;
    }

    .main-title-properties h2 {
        font-size: 52px;
    }

    .game-notification {
        font-size: 24px;
    }
}