/* All element styling */

* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
}

/* font-families */

@font-face {
    font-family: 'damion';
    src: url('fonts/Damion-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'sombrero';
    src: url('fonts/SombreroLight.ttf') format('truetype');
}

@font-face {
    font-family: 'playpensans';
    src: url('fonts/PlaypenSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'playpensans light';
    src: url('fonts/PlaypenSans-Light.ttf') format('truetype');
}

/* body properties */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('assets/desert_3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'sombrero', 'Arial', 'Helvetica', 'sans-serif';
}

/* All sections HTML-Sections */

#control-panel-everything {
    display: none;
    justify-content: space-evenly;
    padding-top: 8px;
    margin: 0 auto;
}

#control-panel-right-left {
    display: flex;
    gap: 8px;
}

#control-panel-up-throw {
    display: flex;
    gap: 8px;
}

#control-panel-right-left button {
    padding: 4px;
    border: 2px solid black;
    border-radius: 40px;
    background-color: rgba(177, 165, 86, 0.62);
}

#control-panel-up-throw button {
    padding: 4px;
    border: 2px solid black;
    border-radius: 40px;
    background-color: rgba(177, 165, 86, 0.62);
}

#control-panel-right-left button img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    padding: 4px;
}

#control-panel-up-throw button img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    padding: 4px;
}

#message-to-turn-device {
    justify-content: center;
    display: flex;
}

#message-to-turn-device button {
    margin: 0 auto;
    padding: 16px;
    border: 1px solid black;
    border-radius: 16px;
    font-size: 22px;
    font-family: 'damion';
    background-color: gold;
    top: calc((100% - 64px) / 2);
    right: calc((100% - 390px) / 2);
    position: absolute;
}

#message-to-turn-device button:hover {
    cursor: pointer;
    background-color: rgb(95, 81, 3);
}

/* all-icons-container properties */

.all-icons-container {
    font-size: 14px;
    width: 100%;
    gap: 18px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    border: 2px solid black;
    padding: 8px;
    background-color: rgba(236, 199, 148, 0.5);
}

#all-icons-container-mini-version {
    font-family: 'playpensans light';
    font-size: 12px;
    width: 100%;
    gap: 0px;
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 20;
    text-align: center;
    border: 1px solid black;
    padding: 8px;
    background-color: rgba(236, 199, 148, 1);
}

#all-icons-container-mini-version a {
    color: black;
    text-decoration: none;
}

.all-icons-container-mini-version img {
    width: 24px;
    align-self: flex-end;
    cursor: pointer;
}

.all-icons-container a {
    font-family: 'playpensans light';
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 2px;
}

.all-icons-container h2 {
    font-family: 'playpensans';
    font-size: 24px;
}

/* Canvas-container section properties */

.canvas-container {
    display: none;
    position: relative;
}

#fullscreen {
    display: block;
    position: absolute;
    right: 2%;
    top: 90%;
    width: 24px;
}

.canvas-container img {
    width: 48px;
    z-index: 2;
    cursor: pointer;
    display: none;
}

canvas {
    display: block;
    background-color: black;
    z-index: 1;
}

/* fullscreen and minimize-button properties */

.fullscreen-mode {
    height: 100%;
    width: 100%;
}

:fullscreen #minimize-button {
    position: absolute;
    bottom: 40px;
    top: 20px;
    right: 20px;
    z-index: 100;
    width: 48px;
    cursor: pointer;
    display: none;
}

#minimize-button {
    padding: 8px;
    border-radius: 16px;
}

.normal-mode {
    height: 480px;
    width: 720px;
}

/* All overlay sections */

#overlay {
    width: 100%;
}

/* #intro-image properties */

#intro-image {
    position: absolute;
    width: 720px;
    height: 480px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    left: calc((100% - 720px)/2);
    top: calc((100% - 480px)/2);
}

#intro-image img:nth-child(1) {
    width: 720px;
    height: 480px;
}

#intro-image img:nth-child(2) {
    position: absolute;
    top: 88%;
    right: 46%;
    width: 48px;
    height: auto;
    cursor: pointer;
    transition: transform 500ms ease-in-out;
}

#intro-image img:nth-child(2):hover {
    transform: scale(1.2);
}

#intro-image button {
    position: absolute;
    top: 85%;
    width: 15%;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-size: 36px;
    padding: 8px;
    background-color: gold;
    font-weight: bold;
    color: dimgray;
    font-family: 'damion', sans-serif;
    transition: transform 500ms ease-in-out;
}

#intro-image button:hover {
    background-color: rgb(95, 81, 3);
    transform: scale(1.2);
}

/* #winning-image properties */

#winning-image {
    display: none;
    gap: 24px;
    z-index: 11;
}

.winning-image-properties {
    flex-direction: column;
    align-items: center;
}

#winning-image img {
    margin-top: 42px;
    width: 720px;
    height: 480px;
}

/* #losing-image properties */

#losing-image {
    display: none;
    gap: 24px;
    z-index: 11;
}

#losing-image img {
    width: 720px;
    height: 480px;
}

/* .links-images properties */

.links-images {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
}

.links-images a {
    display: flex;
    text-decoration: none;
}

/* .main-title-properties-division properties  */

.main-title-properties {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    cursor: pointer;
    font-family: damion;
    font-size: 24px;
    transition: transform 500ms ease-in-out;
}

.main-title-properties img {
    width: 144px;
}

.main-title-properties:hover {
    transform: scale(1.2);
}

#settings-image {
    width: 128px;
    cursor: pointer;
}

/* .explain-game-container properties as well as all sections below that */

.explain-game-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(110, 110, 110, 0.5);
    z-index: 9999;
}

.game-functions-container {
    position: fixed;
    border: 2px solid black;
    right: 0;
    height: 100%;
    width: 400px;
    background-color: rgb(214, 214, 214, 0.95);
}

.game-functions-container img:nth-child(2) {
    width: 36px;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}

.game-functions-container h2 {
    font-family: 'playpensans';
    text-align: center;
    padding: 24px;
    font-weight: bold;
    font-size: xxx-large;
    text-decoration: underline;
}

.control-keys {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.control-keys h3 {
    font-family: 'playpensans';
}

.control-keys img {
    width: 96px;
}

.control-key-style {
    min-width: 260.73px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.game-notification {
    display: flex;
    flex-direction: column;
    padding: 24px;
    font-family: 'playpensans';
    font-size: 18px;
}

.game-notification h3 {
    padding-bottom: 8px;
    text-align: center;
    text-decoration: underline;
}

/* Classes to add with Javascript */

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.button-style {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-size: 36px;
    padding: 8px;
    gap: 24px;
    background-color: gold;
    font-weight: bold;
    color: dimgray;
    font-family: 'damion', sans-serif;
    transition: transform 500ms ease-in-out;
}

.button-style:hover {
    transform: scale(1.2);
    background-color: rgb(95, 81, 3)
}

.all-icons-button-container {
    display: none;
    font-family: 'playpensans';
    font-size: 18px;
    position: fixed;
    left: 8px;
    bottom: 8px;
}

/* .all-icons-container properties */

.all-icons-button-container button {
    font-size: 18px;
    background-color: gold;
    border: 1px solid black;
    border-radius: 16px;
    padding: 8px;
    cursor: pointer;
}

.all-icons-button-container button:hover {
    background-color: rgb(95, 81, 3);
}

/* link and title properties */

h1 {
    font-size: 60px;
    padding-top: 24px;
}

a h2 {
    font-family: 'damion', sans-serif;
    color: dimgray;
    font-size: 40px;
    padding: 8px;
}

/* Section with media queries */

@media(max-width: 1075px) or (max-height: 800px) {

    h1 {
        text-align: center;
        font-size: 40px;
    }

    .links-images {
        padding: 0;
    }

    .main-title-properties {
        padding-top: 8px;
    }

    .main-title-properties img {
        width: 80px;
    }

    .main-title-properties h2 {
        font-size: 30px;
    }

    #settings-image {
        width: 80px;
    }

    .all-icons-container {
        display: none;
    }

    .all-icons-button-container {
        display: block;
    }
}

@media(max-width: 1000px) {
    .canvas-container img {
        right: 12%;
        top: 72%;
        width: 36px;
    }
}

@media(max-width: 800px) {
    .links-images {
        padding-top: 8px;
        position: absolute;
        width: 90%;
        top: 0;
        left: 5%;
        right: 5%;
    }

    .canvas {
        width: 100%;
    }

    .main-title-properties {
        padding: 0;
    }

    .main-title-properties img {
        width: 60px;
    }

    #main-title {
        font-size: 32px;
        padding: 0;
    }

    #settings-image {
        width: 60px;
    }

    #intro-image {
        position: relative;
        height: unset;
        top: 35%;
        width: 90%;
        left: 5%;
        right: 5%;
    }

    #intro-image img:nth-child(1) {
        height: auto;
        width: 100%;
        aspect-ratio: 3 / 2;
    }

    #intro-image img:nth-child(2) {
        position: absolute;
        bottom: 5%;
        width: 36px;
    }

    .game-functions-container {
        display: flex;
        align-items: center;
        position: fixed;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 8px;
        top: 0;
        right: 0;
        width: 100%;
        height: auto;
    }

    .control-keys {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .control-keys h3 {
        font-size: 14px;
    }

    .control-key-style {
        min-width: 200px;
    }

    .control-keys img {
        width: 24px;
    }

    .game-notification {
        padding: 0;
        max-width: 420px;
        font-size: 12px;
        padding-right: 40px;
    }

    .game-functions-container h2 {
        display: none;
    }

    .game-functions-container img:nth-child(2) {
        width: 16px;
        right: 20px;
        top: 12px;
    }

    #winning-image img {
        width: 90%;
        height: auto;
    }

    #losing-image img {
        width: 90%;
        height: auto;
    }

    .button-style {
        font-size: 24px;
    }
}

/* Smartphones */

@media(max-height: 950px) and (min-width: 1075px) {
    .game-functions-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 8px;
        top: 0;
        right: 0;
        width: 100%;
        height: auto;
    }

    .control-keys {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .control-keys h3 {
        font-size: 18px;
    }

    .control-key-style {
        min-width: 200px;
    }

    .control-keys img {
        width: 36px;
    }

    .game-notification {
        padding: 0;
        max-width: 420px;
        font-size: 14px;
        padding-right: 40px;
    }
}

@media(max-height: 950px) and (max-width: 1074px) {
    .game-functions-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 8px;
        top: 0;
        right: 0;
        width: 100%;
        height: auto;
    }

    .control-keys {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .control-keys h3 {
        font-size: 14px;
    }

    .control-key-style {
        min-width: 200px;
    }

    .control-keys img {
        width: 24px;
    }

    .game-notification {
        padding: 0;
        max-width: 420px;
        font-size: 12px;
        padding-right: 40px;
    }

    .game-functions-container h2 {
        display: none;
    }

    .game-functions-container img:nth-child(2) {
        width: 16px;
        right: 20px;
        top: 12px;
    }
}

@media only screen and (max-width: 720px) {
    canvas {
        height: 100%;
        max-height: 80vh;
        width: 100%;
    }
}

@media(max-width: 700px) {
    #intro-image img:nth-child(2) {
        width: 24px;
    }

    .main-title-properties h2 {
        display: none;
    }

    .main-title-properties img {
        width: 40px;
    }

    #main-title {
        font-size: 24px;
        padding: 0;
    }

    #settings-image {
        width: 40px;
    }

    .all-icons-button-container button {
        font-size: 13px;
        padding: 4px;
    }

    #all-icons-container-mini-version {
        font-size: 10px;
    }

    #all-icons-container-mini-version img {
        width: 18px;
    }
}

@media(max-height: 700px) {
    .links-images {
        display: none;
    }

    #all-icons-button {
        display: none;
    }
}

/* Smartphones */

@media only screen and (max-height: 480px) {

    #overlay {
        display: flex;
        justify-content: center;
    }

    #intro-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #intro-image img:nth-child(1) {
        height: 80%;
        max-height: 320px;
        width: auto;
        align-items: center;
        position: unset;
    }

    #intro-image img:nth-child(2) {
        top: 74%;
        right: 48%;
        width: 32px;
    }

    #control-panel-everything {
        width: 100%;
        padding: 16px;
    }

    #fullscreen {
        display: none;
    }

    .canvas-container img {
        display: none;
    }

    canvas {
        height: 80vh;
    }
}

@media(max-width: 430px) {
    .canvas-container {
        position: absolute;
        top: 0;
    }

    .control-keys {
        width: 100%;
    }

    .game-notification {
        display: none;
    }
}

@media(max-width: 400px) {
    #message-to-turn-device {
        width: 100%;
        min-width: 100vw;
    }

    #message-to-turn-device button {
        position: unset;
        max-width: 300px;
    }
}

/* Hochformat vs Querformat */

#intro-image,
#message-to-turn-device {
    display: flex;
}

@media (orientation: landscape) {
    #intro-image {
        display: flex;
    }

    #message-to-turn-device {
        display: none;
    }

    #control-panel-everything {
        display: flex;
    }
}

@media (orientation: portrait) {
    .canvas-container img {
        display: none;
    }

    #intro-image {
        display: none;
    }

    #message-to-turn-device {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        font-size: 18px;
        text-align: center;
    }
}