/* All element styling */

* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
}

/* font-families */

@font-face {
    font-family: 'damion';
    src: url('fonts/Damion-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'sombrero';
    src: url('fonts/SombreroLight.ttf') format('truetype');
}

@font-face {
    font-family: 'playpensans';
    src: url('fonts/PlaypenSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'playpensans light';
    src: url('fonts/PlaypenSans-Light.ttf') format('truetype');
}

/* body properties */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('assets/desert_3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'sombrero', 'Arial', 'Helvetica', 'sans-serif';
}

/* All sections HTML-Sections */

#message-to-turn-device {
    display: none;
}

.sound-container {
    cursor: pointer;
}

.control-panel-everything {
    display: none;
}

.style-container {
    padding: 4px;
    border: 4px solid black;
    border-radius: 16px;
}

#fullscreen {
    display: flex;
    width: 40px;
    padding: 4px;
    border: 4px solid black;
    border-radius: 16px;
    background-color: wheat;
}

#control-panel-up-throw {
    display: none;
}

#control-panel-right-left {
    display: none;
}

.canvas-container img:nth-child(1) {
    display: none;
}

.canvas-container .sound-container img:nth-child(2) {
    width: 32px;
    display: block;
}

/* all-icons-container properties */

.all-icons-container {
    font-size: 14px;
    width: 100%;
    gap: 18px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    border: 2px solid black;
    padding: 8px;
    background-color: rgba(236, 199, 148, 0.5);
}

#all-icons-container-mini-version {
    font-family: 'playpensans light';
    font-size: 12px;
    width: 100%;
    gap: 0px;
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 20;
    text-align: center;
    border: 1px solid black;
    padding: 8px;
    background-color: rgba(236, 199, 148, 1);
}

#all-icons-container-mini-version a {
    color: black;
    text-decoration: none;
}

.all-icons-container-mini-version img {
    width: 24px;
    align-self: flex-end;
    cursor: pointer;
}

.all-icons-container a {
    font-family: 'playpensans light';
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 2px;
}

.all-icons-container h2 {
    font-family: 'playpensans';
    font-size: 24px;
}

/* Canvas-container section properties */

.canvas-container {
    display: none;
    position: relative;
}

canvas {
    display: block;
    background-color: black;
    z-index: 1;
}

.sound-screen-control-container {
    display: flex;
    flex: 1;
    z-index: 10001;
    justify-content: flex-end;
    position: absolute;
    gap: 8px;
    top: 88%;
    right: 1%;
    width: 100%;
}


.sound-and-screen-icons {
    display: flex;
    gap: 4px;
}

#sound-on-icon {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 4px solid black;
    border-radius: 16px;
    padding: 4px;
    background-color: wheat;
    width: 40px;
}

#sound-off-icon {
    display: none;
    justify-content: center;
    align-content: center;
    border: 4px solid black;
    border-radius: 16px;
    padding: 4px;
    background-color: wheat;
    width: 40px;
}


.screen-container {
    display: flex;
}

#fullscreen {
    cursor: pointer;
}

#minimize-button {
    display: none;
    justify-content: center;
    align-content: center;
    border: 4px solid black;
    border-radius: 16px;
    padding: 4px;
    background-color: wheat;
    cursor: pointer;
}

/* fullscreen and minimize-button properties */

.fullscreen-mode {
    height: 100%;
    width: 100%;
}

.normal-mode {
    height: 480px;
    width: 720px;
}

/* All overlay sections */

#overlay {
    width: 100%;
}

/* #intro-image properties */

#intro-image {
    position: absolute;
    width: 720px;
    height: 480px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    left: calc((100% - 720px)/2);
    top: calc((100% - 480px)/2);
}

#intro-image img:nth-child(1) {
    width: 720px;
    height: 480px;
}

#intro-image img:nth-child(2) {
    position: absolute;
    top: 88%;
    right: 46%;
    width: 48px;
    height: auto;
    cursor: pointer;
    transition: transform 500ms ease-in-out;
}

#intro-image img:nth-child(2):hover {
    transform: scale(1.2);
}

#intro-image button:hover {
    background-color: rgb(95, 81, 3);
    transform: scale(1.2);
}

/* #winning-image properties */

#winning-image {
    display: none;
    gap: 24px;
    z-index: 11;
}

.winning-image-properties {
    flex-direction: column;
    align-items: center;
}

#winning-image img {
    margin-top: 42px;
    width: 720px;
    height: 480px;
}

/* #losing-image properties */

#losing-image {
    display: none;
    gap: 24px;
    z-index: 11;
}

#losing-image img {
    width: 720px;
    height: 480px;
}

/* .links-images properties */

.links-images {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
}

.links-images a {
    display: flex;
    text-decoration: none;
}

/* .main-title-properties-division properties  */

.main-title-properties {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    cursor: pointer;
    font-family: damion;
    font-size: 24px;
    transition: transform 500ms ease-in-out;
}

.main-title-properties img {
    width: 144px;
}

.main-title-properties:hover {
    transform: scale(1.2);
}

#settings-image {
    width: 128px;
    cursor: pointer;
}

/* .explain-game-container properties as well as all sections below that */

.explain-game-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(110, 110, 110, 0.5);
    z-index: 9999;
}

.game-functions-container {
    position: fixed;
    border: 4px solid black;
    right: 0;
    height: 100%;
    width: 400px;
    background-color: rgb(214, 214, 214, 0.95);
}

.game-functions-container img:nth-child(2) {
    width: 36px;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}

.game-functions-container h2 {
    font-family: 'playpensans';
    text-align: center;
    padding: 24px;
    font-weight: bold;
    font-size: xxx-large;
    text-decoration: underline;
}

.control-keys {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.control-keys h3 {
    font-family: 'playpensans';
}

.control-keys img {
    width: 96px;
}

.control-key-style {
    min-width: 260.73px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.game-notification {
    display: flex;
    flex-direction: column;
    padding: 24px;
    font-family: 'playpensans';
    font-size: 18px;
}

.game-notification h3 {
    padding-bottom: 8px;
    text-align: center;
    text-decoration: underline;
}

/* Classes to add with Javascript */

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.button-style {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-size: 36px;
    padding: 8px;
    gap: 24px;
    background-color: gold;
    font-weight: bold;
    color: dimgray;
    font-family: 'damion', sans-serif;
    transition: transform 500ms ease-in-out;
}

.button-style:hover {
    transform: scale(1.2);
    background-color: rgb(95, 81, 3)
}

.all-icons-button-container {
    display: none;
    font-family: 'playpensans';
    font-size: 18px;
    position: fixed;
    left: 16px;
    bottom: 24px;
}

/* .all-icons-container properties */

.all-icons-button-container button {
    font-size: 18px;
    background-color: gold;
    border: 1px solid black;
    border-radius: 16px;
    padding: 8px;
    cursor: pointer;
}

.all-icons-button-container button:hover {
    background-color: rgb(95, 81, 3);
}

/* link and title properties */

h1 {
    font-size: 60px;
    padding-top: 24px;
}

a h2 {
    font-family: 'damion', sans-serif;
    color: dimgray;
    font-size: 40px;
    padding: 8px;
}

/* Section with media queries */

@media(min-width: 1400px) and (min-height: 1100px) {

    #intro-image {
        width: 50%;
        height: auto;
        position: relative;
        top: 25%;
        right: 25%;
        left: 25%;
        bottom: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #intro-image img:nth-child(1) {
        width: 100%;
        height: auto;
    }

    #intro-image img:nth-child(2) {
        position: absolute;
        bottom: 16px;
        top: unset;
        width: 80px;
        height: auto;
        cursor: pointer;
        transition: transform 500ms ease-in-out;
    }

    .canvas-container {
        display: none;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    canvas {
        width: 50%;
        height: auto;
    }

    .sound-screen-control-container {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        position: absolute;
        gap: 8px;
        top: 90%;
        right: 26%;
        z-index: 100;
    }

    :fullscreen .sound-screen-control-container {
        right: 2%;
    }

    #sound-on-icon {
        width: 60px;
    }

    #sound-off-icon {
        width: 60px;
    }

    #fullscreen {
        width: 60px;
    }

    #minimize-button {
        width: 100px;
    }

    .style-container {
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
        background-color: wheat;
    }
}

@media(min-width: 1400px) and (max-height: 1100px) {
    .all-icons-button-container {
        display: block;
    }

    .all-icons-container {
        display: none;
    }

    :fullscreen .sound-screen-control-container {
        right: 2%;
    }
}

@media(max-width: 1400px) and (max-height: 1100px) {

    h1 {
        text-align: center;
        font-size: 40px;
    }

    .links-images {
        padding: 0;
    }

    .main-title-properties {
        padding-top: 8px;
    }

    .main-title-properties img {
        width: 80px;
    }

    .main-title-properties h2 {
        font-size: 30px;
    }

    #settings-image {
        width: 80px;
    }

    .all-icons-container {
        display: none;
    }

    .all-icons-button-container {
        display: block;
    }

    /* Hier gingen die Änderungen los */

    .control-panel-everything {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    #control-panel-up-throw {
        display: flex;
        width: 250px;
        justify-content: space-between;
    }

    #control-panel-right-left {
        display: flex;
        width: 250px;
        justify-content: space-between;
    }

    :fullscreen #sound-on-icon {
        width: 100px;
    }

    :fullscreen #sound-off-icon {
        width: 100px;
    }

    :fullscreen .sound-screen-control-container {
        display: flex;
        position: absolute;
        width: 100%;
        left: 7%;
        top: 85%;
        z-index: 10000;
        padding-bottom: 1%;
    }

    /* Hier endeten die Änderungen */

    .canvas-container button {
        border: 4px solid black;
        border-radius: 16px;
        padding: 6px;
        background-color: wheat;
    }

    .canvas-container img:nth-child(1) {
        display: block;
        width: 80px;
    }
}

@media(width: 1024px) and (height: 600px) {
    .control-panel-everything {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    #control-panel-up-throw {
        display: flex;
        width: 150px;
        justify-content: space-between;
    }

    #control-panel-right-left {
        display: flex;
        width: 150px;
        justify-content: space-between;
    }

    :fullscreen #sound-on-icon {
        width: 80px;
    }

    :fullscreen #sound-off-icon {
        width: 80px;
    }

    :fullscreen .sound-screen-control-container {
        display: flex;
        position: absolute;
        width: 100%;
        left: 7%;
        top: 82%;
        z-index: 10000;
        padding-bottom: 1%;
    }
}

@media(max-width: 1100px) and (min-height: 700px) {
    .links-images {
        padding-top: 8px;
        position: absolute;
        width: 90%;
        top: 0;
        left: 5%;
        right: 5%;
    }

    .canvas {
        width: 100%;
    }

    .main-title-properties {
        padding: 0;
    }

    .main-title-properties img {
        width: 60px;
    }

    #main-title {
        font-size: 32px;
        padding: 0;
    }

    #settings-image {
        width: 60px;
    }

    #intro-image img:nth-child(1) {
        width: 100%;
    }

    #intro-image img:nth-child(2) {
        position: absolute;
        bottom: 5%;
        width: 36px;
    }

    .game-functions-container {
        display: flex;
        align-items: center;
        position: fixed;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 8px;
        top: 0;
        right: 0;
        width: 100%;
        height: auto;
    }

    .control-keys {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .control-keys h3 {
        font-size: 14px;
    }

    .control-key-style {
        min-width: 200px;
    }

    .control-keys img {
        width: 24px;
    }

    .game-notification {
        padding: 0;
        max-width: 420px;
        font-size: 12px;
        padding-right: 40px;
    }

    .game-functions-container h2 {
        display: none;
    }

    .game-functions-container img:nth-child(2) {
        width: 16px;
        right: 20px;
        top: 12px;
    }

    #winning-image img {
        width: 90%;
        height: auto;
    }

    #losing-image img {
        width: 90%;
        height: auto;
    }

    .button-style {
        font-size: 24px;
    }

    .control-panel-everything {
        display: flex;
        width: 100%;
    }

    .control-panel-everything {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
}

@media(max-width: 800px) {
    .main-title-properties h2 {
        display: none;
    }

    .control-panel-everything {
        display: flex;
        width: 100%;
    }

    #control-panel-up-throw {
        display: flex;
        justify-content: space-between;
    }

    #control-panel-right-left {
        display: flex;
        justify-content: space-between;
    }
}

/* @media(orientation: landscape) and (max-width: 1000px) {} */

@media(orientation: landscape) and (max-height: 700px) {
    #intro-image {
        position: unset;
        width: 100dvw;
        height: 100dvh;
    }

    #intro-image img:nth-child(1) {
        position: relative;
        height: 100%;
        width: 100%;
    }

    .links-images {
        display: none;
    }

    .all-icons-button-container {
        display: none;
    }

    canvas {
        height: 100dvh;
        width: 100dvw;
    }

    .canvas-container img:nth-child(1) {
        display: flex;
        width: 40px;
    }

    .style-container {
        padding: 6px;
        border: 4px solid black;
        background-color: wheat;
    }

    #intro-image img:nth-child(2) {
        top: 85%;
    }

    #sound-off-icon {
        width: 60px;
        border: 4px solid black;
        border-radius: 16px;
        display: none;
    }

    #sound-on-icon {
        width: 60px;
        border: 4px solid black;
        border-radius: 16px;
    }

    .sound-screen-control-container {
        display: flex;
        position: absolute;
        top: 82%;
        left: 2%;
        width: 100%;
        z-index: 10000;
    }

    .control-panel-everything {
        display: flex;
        width: 100%;
    }

    .control-panel-everything button {
        border-radius: 16px;
        padding: 6px;
        border: 4px solid black;
        background-color: wheat;
    }

    #control-panel-right-left {
        display: flex;
        width: 150px;
        justify-content: space-between;
    }

    #control-panel-up-throw {
        display: flex;
        width: 150px;
        justify-content: space-between;
    }

    #minimize-button {
        display: none;
    }

    #fullscreen {
        display: none;
    }
}

@media (orientation: portrait) {
    .canvas-container img {
        display: none;
    }

    .all-icons-container {
        display: none;
    }

    .all-icons-button-container {
        display: none;
    }

    #intro-image {
        display: none;
    }

    .links-images {
        display: none;
    }

    #message-to-turn-device {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        text-align: center;
    }

    #message-to-turn-device button {
        display: block;
        padding: 8px;
        border: 4px solid black;
        border-radius: 16px;
        background-color: gold;
        font-family: 'damion';
        font-size: 60px;
        width: 90%;
    }

    @media(max-width: 700px) {
        #message-to-turn-device button {
            font-size: 40px;
        }
    }

    @media (orientation: portrait) and (max-width: 500px) {
        #message-to-turn-device button {
            max-width: 320px;
        }
    }
}