@media(min-width: 2500px) and (hover: hover) {
    .game-functions-container h2 {
        font-size: 60px;
    }

    .control-key-style {
        min-width: 400px;
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .control-key-style img {
        width: 112px;
    }

    .control-key-style h3 {
        font-size: 36px;
    }

    .game-notification {
        font-size: 36px;
    }
}

@media(min-height: 1300px) and (hover: hover) {
    .game-functions-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media (orientation: portrait) and (max-width: 1300px) {
    .game-functions-container {
        display: none;
    }

    .canvas-container img {
        display: none;
    }

    .all-icons-container {
        display: none;
    }

    .all-icons-button-container {
        display: none;
    }

    #intro-image {
        display: none;
    }

    .links-images {
        display: none;
    }

    .icon-and-settings-container {
        display: none;
    }

    #message-to-turn-device {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        text-align: center;
    }

    #message-to-turn-device button {
        display: block;
        padding: 8px;
        border: 4px solid black;
        border-radius: 16px;
        background-color: gold;
        font-family: 'damion';
        font-size: 60px;
        width: 90%;
    }

    #winning-image {
        display: none !important;
    }

    #losing-image {
        display: none !important;
    }

    @media(max-width: 700px) {
        #message-to-turn-device button {
            font-size: 40px;
        }
    }

    @media (orientation: portrait) and (max-width: 500px) {
        #message-to-turn-device button {
            max-width: 320px;
        }
    }
}

@media(orientation: landscape) and (min-width: 1000px) and (max-height: 800px) and (hover: hover) {

    .links-images {
        display: none;
    }

    .all-icons-button-container {
        display: none;
    }

    #intro-image {
        position: relative;
    }

    #icon-and-settings-container-in-intro-image {
        z-index: 1000;
        position: absolute;
        top: 0%;
        right: 2%;
        border: 4px solid black;
        border-radius: 16px;
        margin-top: 1%;
        padding: 1%;
        background-color: rgb(236, 203, 103, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
    }

    #icon-and-settings-container-in-intro-image .main-title-properties img {
        width: 40px;
        height: auto;
    }

    #all-icons-container-mini-version {
        gap: unset;
        width: 100%;
        height: 100%;
    }

    .game-functions-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }

    .control-keys {
        padding-left: 16px;
        justify-content: center;
        flex-direction: column;
    }

    .control-keys img {
        width: 60px;
    }
}

@media(max-width: 800px) and (hover: hover) {

    #all-icons-container-mini-version a {
        font-size: 12px;
    }

    .game-notification {
        display: none;
    }

    .control-key-style {
        min-width: 200px;
    }

    .control-keys img {
        width: 40px;
    }

    .control-keys h3 {
        font-size: 16px;
    }

    .game-functions-container img:nth-child(2) {
        width: 24px;
    }
}

@media(max-width: 500px) and (hover: hover) {
    .main-title-properties img {
        width: 32px;
    }

    .all-icons-button-container-small-version button {
        font-size: 12px;
    }

    #intro-image img:nth-child(2) {
        width: 40px;
        right: unset;
    }

    #all-icons-container-mini-version a {
        font-size: 11px;
    }
}