
@media(hover: none) and (pointer: coarse){

    .ui-touch {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100dvh;
        width: 100dvw;
    }

    .ui-desktop {
        display: none;
    }

    #losing-image-touch img {
        width: 100dvw;
        height: 100dvh;
    }

    #winning-image-touch img {
        margin-top: unset;
        width: 45%;
        height: auto;
    }

    .button-style {
        font-size: 32px;
        position: absolute;
        bottom: 5%;
    }

    #sound-on-icon {
        width: 60px;
    }

    #sound-off-icon {
        width: 60px;
    }

    #control-panel-throw-jump {
        display: flex;
        justify-content: space-around;
        width: 30%;
    }

    #control-panel-left-right {
        display: flex;
        justify-content: space-around;
        width: 30%;
    }

    #intro-image-touch img:nth-child(1) {
        width: 100dvw;
        height: 100dvh;
    }

    #intro-image-touch img:nth-child(2) {
        width: 60px;
        right: calc((100% - 60px) / 2);
    }

    canvas {
        height: 100dvh;
        width: 100dvw;
    }

    .control-panel-everything {
        display: none;
        justify-content: space-around;
        width: 100%;
    }

    .icon-and-settings-container {
        position: absolute;
        top: 0;
        right: 1%;
        border: 4px solid black;
        border-radius: 16px;
        margin-top: 1%;
        padding: 1%;
        background-color: rgb(236, 203, 103, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
    }

    .game-functions-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }

    /* .links-images properties */

    .links-images-touch {
        position: absolute;
        top: 1%;
        right: 1%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        gap: 24px;
        border: 2px solid black;
        border-radius: 16px;
        background-color: rgba(235, 220, 93, 0.9);
        z-index: 1000;
    }

    .links-images-touch img {
        width: 48px;
    }

    .links-images-touch a {
        display: flex;
        text-decoration: none;
    }

    /* legal notice and privacy policy section */

    .legal-notice-and-privacy-policy {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
        border-radius: 16px;
        padding: 4px;
        background-color: goldenrod;
    }

     .main-title-properties {
        border: 1px solid black;
        border-radius: 16px;
        padding: 4px;
        text-align: center;
        background-color: goldenrod;
    }

    .main-title-properties h2 {
        font-family: 'playpensans light';
        font-size: 16px;
    }

    .h2-title-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .h2-title-section h2 {
        font-family: 'playpensans light';
        font-size: 16px;
        transition: transform 500ms ease-in-out;
    }

    .h2-title-section h2:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    .game-functions-container h2 {
        display: none;
    }

    .icon-and-settings-container-mini-version {
        gap: unset;
        align-items: center;
        justify-content: center;
        font-size: 14px;
    }

    .control-keys {
        padding-left: 16px;
        justify-content: center;
        flex-direction: column;
    }

    .control-keys img {
        width: 60px;
    }

    .game-notification {
        align-items: center;
        justify-content: center;
    }

    .screen-control-container {
        display: flex;
        width: 100%;
        bottom: 1%;
        right: unset;
    }

    .spacebar {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: wheat;
    }

    .control-panel-everything img {
        background-color: wheat;
    }
}


@media(min-width: 1025px) and (hover: none) and (pointer: coarse) {
    .control-panel-everything img {
        width: 80px;
        padding: 4px;
        border: 4px solid black;
    }

    #sound-off-icon {
        width: 80px;
    }

    #sound-on-icon {
        width: 80px;
    }
}

@media(max-width: 1024px) and (hover: none) and (pointer: coarse){
    .control-panel-everything img {
        width: 60px;
        padding: 4px;
        border: 4px solid black;
    }

    .spacebar {
        height: 60px;
    }

    .control-keys h3 {
        max-width: 80px;
        text-align: center;
    }

    .spacebar p {
        font-family: 'playpensans light';
        font-size: 20px;
        font-weight: 600;
    }
}

@media(max-width: 950px) and (hover: none) and (pointer: coarse) {
    .control-panel-everything img {
        width: 48px;
        padding: 4px;
        border: 2px solid black;
    }

    .spacebar {
        height: 48px;
        border: 2px solid black;
    }

    .spacebar-without-styling {
        border: 2px solid black;
    }

    .spacebar-without-styling p {
        font-size: 22px;
        font-weight: unset;
    }

    #sound-on-icon {
        width: 48px;
        padding: 4px;
        border: 2px solid black;
    }

    #sound-off-icon {
        width: 48px;
        padding: 4px;
        border: 2px solid black;
    }

    #all-icons-container-mini-version a {
        font-size: 12px;
    }

    .game-notification {
        display: none;
    }

    .control-key-style {
        min-width: 200px;
    }

    .control-keys img {
        width: 40px;
    }

    .control-keys h3 {
        font-size: 16px;
    }

    .game-functions-container img:nth-child(2) {
        width: 24px;
    }
}

@media(max-width: 600px) and (hover: none) and (pointer: coarse){
    .imprint-and-privacy-policy-overlay img {
        width: 32px;
        top: 8px;
        right: 8px;
    }

    .imprint-privacy-wrapper h2 {
        font-size: 40px;
    }
}

@media(max-width: 500px) and (hover: none) and (pointer: coarse) {

    #intro-image img:nth-child(2) {
        width: 40px;
        right: unset;
    }

    #all-icons-container-mini-version a {
        font-size: 11px;
    }
}