<canvas id="canvas" width="720" height="480"></canvas>
<div class="sound-container">
    <img src="assets/sound_off.png" alt="sound_off" id="sound-off-icon">
    <img src="assets/sound_on.png" alt="sound_png" id="sound-on-icon">
</div>
<div class="screen-control-container" id="screen-control-container">
    <div class="control-panel-everything" id="control-panel-everything">
        <div class="control-panel-left-right" id="control-panel-left-right">
            <div class="control-key-image-container">
                <img src="assets/left_arrow.png" alt="left" id="buttonLeft">
            </div>
            <div class="control-key-image-container">
                <img src="assets/right_arrow.png" alt="right" id="buttonRight">
            </div>
        </div>
        <div class="control-panel-throw-jump" id="control-panel-throw-jump">
            <div class="control-key-image-container">
                <div class="spacebar" id="buttonUp">
                    <p id="spacebar">Spacebar</p>
                </div>
            </div>
            <div class="control-key-image-container">
                <img src="assets/letter_d_white.png" id="buttonThrow" alt="letter-d">
            </div>
        </div>
    </div>
</div>