<img src="assets/close.png" class="closeBtn" alt="close">
<a href="https://www.flaticon.com/free-icons/chicken" title="chicken icons" target="_blank">
    Chicken icons created by Freepik - Flaticon
</a>
<a href="https://www.flaticon.com/free-icons/arrow-up" title="arrow up icons" target="_blank">
    Arrow up icons created by lutfix - Flaticon
</a>
<a href="https://www.flaticon.com/free-icons/video" title="video icons" target="_blank">
    Video icons created by Bingge Liu - Flaticon
</a>
<a href="https://www.flaticon.com/free-icons/king-size" title="king size icons" target="_blank">
    King size icons created by Prosymbols Premium - Flaticon
</a>
<a href="https://www.flaticon.com/free-icons/exit-full-screen" title="exit full screen icons" target="_blank">
    Exit full screen icons created by rizky maulidhani - Flaticon
</a>
<a href="https://www.flaticon.com/free-icons/maximize" title="maximize icons" target="_blank">
    Maximize icons created by th studio - Flaticon
</a>
<a href="https://www.flaticon.com/free-icons/back" title="back icons" target="_blank">
    Back icons created by Roundicons - Flaticon
</a>
<a href="https://www.flaticon.com/free-icons/arrow" title="arrow icons" target="_blank">
    Arrow icons created by Roundicons - Flaticon
</a>
<a href="https://www.flaticon.com/free-icons/straight-arrow" title="straight arrow icons" target="_blank">
    Straight arrow icons created by ChilliColor - Flaticon
</a>
<a href="https://www.flaticon.com/free-icons/letter-d" title="letter d icons" target="_blank">
    Letter d icons created by Freepik - Flaticon
</a>
<a href="https://www.flaticon.com/free-icons/close" title="close icons" target="_blank">
    Close icons created by reussy - Flaticon
</a>
<a href="https://www.flaticon.com/free-icons/mute" title="mute icons" target="_blank">
    Mute icons created by HideMaru – Flaticon
</a>
<a href="https://www.flaticon.com/free-icons/volume" title="volume icons" target="_blank">
    Volume icons created by apien - Flaticon
</a>