<div id="links-images" class="links-images">
    <div id="privacy-and-imprint-pop-up" class="legal-notice-and-privacy-policy">
        <img src="assets/notice.png" alt="notice">
        <div class="h2-title-section">
            <h2>Privacy & Imprint</h2>
        </div>
    </div>
    <div id="cartwheel-image-container" class="main-title-properties">
        <img src="assets/cartwheel.png" alt="cartwheel" id="settings-image">
        <h2>Settings</h2>
    </div>
    <div class="all-icons-button-container">
        <button id="all-icons-button">
            <h2>Icon</h2>
            <h2>Sources</h2>
        </button>
    </div>
</div>

<div id="loadingOverlay">
    <div class="loadingContent">
        <p>Bitte haben Sie einen Augenblick Geduld. Das Spiel wird geladen...</p>
        <div class="spinner"></div>
    </div>
</div>

<div id="overlay" class="overlay">
    <div id="intro-image">
        <img src="img/9_intro_outro_screens/start/startscreen_1.png" alt="Intro-Image">
        <img src="assets/playIcon_2.png" alt="Play" id="playIcon">
    </div>
    <div id="winning-image">
        <img src="img/9_intro_outro_screens/win/win_2.png" alt="Winning-Image">
        <button id="play-again-after-winning" class="button-style">Play Again</button>
    </div>
    <div id="losing-image">
        <img src="img/9_intro_outro_screens/game_over/game over!.png" alt="Losing-Image">
        <button id="play-again-after-losing" class="button-style">Play Again</button>
    </div>
    <div id="message-to-turn-device">
        <button>
            Please Turn Your Device To Play The Game!
        </button>
    </div>
</div>

<div id="imprint-and-privacy-policy-overlay" class="imprint-and-privacy-policy-overlay d-none">
    <div id="imprint-privacy-wrapper" class="imprint-privacy-wrapper">
        <h2 id="privacy">Privacy Policy</h2>
        <h2 id="imprint">Imprint</h2>
    </div>
</div>


<div id="canvas-container" class="canvas-container">
    <canvas id="canvas" width="720" height="480"></canvas>
    <div class="sound-container">
        <img id="sound-off-icon" src="assets/sound_off.png" alt="sound_off">
        <img id="sound-on-icon" src="assets/sound_on.png" alt="sound_png">
    </div>
</div>

<div id="screen-control-container" class="screen-control-container">
    <div id="control-panel-everything" class="control-panel-everything">
        <div id="control-panel-left-right" class="control-panel-left-right">
            <div class="control-key-image-container">
                <img src="assets/left_arrow.png" alt="left" id="buttonLeft" class="touch-control">
            </div>
            <div class="control-key-image-container">
                <img src="assets/right_arrow.png" alt="right" id="buttonRight" class="touch-control">
            </div>
        </div>
        <div id="control-panel-throw-jump" class="control-panel-throw-jump">
            <div class="control-key-image-container">
                <div id="buttonUp" class="spacebar touch-control">
                    <p id="spacebar" class="touch-control">
                        Spacebar
                    </p>
                </div>
            </div>
            <div class="control-key-image-container">
                <img src="assets/letter_d_white.png" id="buttonThrow" class="touch-control" alt="letter-d">
            </div>
        </div>
    </div>
</div>